name: Push to Replicate
on:
  push:
    branches:
      - main
jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          sudo apt-get clean
      - name: Setup Cog
        uses: replicate/setup-cog@v2
        with:
          token: ${{ secrets.REPLICATE_API_TOKEN }}
      - name: Download Weights (Bake into image)
        run: |
          curl -L -o best_model.pth https://automap-ai-uploads-selig.s3.us-east-1.amazonaws.com/weights/segformer-best-model.pth
      - name: Push to Replicate
        run: cog push r8.im/selig/automap-ai-segformer
